{% if page.footer %}
  <section class="footer4 b-t spacer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 m-b-30">
          {{ page.footer }}
        </div>
        <div class="col-lg-3 col-md-6 m-b-30">
          {{ page.footer_u }}
        </div>
        <div class="col-lg-3 col-md-6 m-b-30">
          {{ page.footer_dos }}
        </div>
        <div class="col-lg-3 col-md-6">
          {{ page.footer_tres }}
        </div>
      </div>
      <div class="f4-bottom-bar">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex font-14">
              {{ page.footer_quatre }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
